:root {
  --bg-color: #0f1115;
  --panel-bg: rgba(255, 255, 255, 0.03);
  --panel-border: rgba(255, 255, 255, 0.08);
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
  --accent: #3b82f6;
  /* Default Blue */
  --accent-glow: rgba(59, 130, 246, 0.3);
  --accent-hover: #2563eb;
  --danger: #ef4444;
  --highlight: #f59e0b;
  --success: #10b981;
  --btn-text: #ffffff;
  --metric-ring-center: #11151d;

  --sidebar-width: 270px;
  /* Slightly wider for better spacing */
  --font-family: 'Poppins', sans-serif;
}
